---
layout: default
title: Thoughts & Ruminations
pagination:
  enabled: true
  category: thoughts
---
{% for post in paginator.posts %}
<div class="post-wrap"> 
  <div class ="post-header">
    <span class="post-category">{{ post.categories }}</span>
    <h1>{{ post.title }}</h1>
    <p class="post-date">{{ post.date | date: '%A, %B %-d, %Y' }}</p>
  </div>

  <div class="post-content">
  {{ post.content }}

  {% if post.tags !=empty %}
    <div class="post-tags"> 
      {% for tag in post.tags %}
      {% capture tag_name %}{{ tag }}{% endcapture %}
     <a href="/tags/{{ tag_name | slugify }}">#{{ tag_name }}</a>
     {% endfor %}
    </div>
  {% endif %}
  </div>

</div>
{% endfor %}


{% if paginator.total_pages > 1 %}
<div class="pagination">
  
  <span class="previous">
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}">
      Previous
      </a>
    {% else %}
      Previous
    {% endif %}
  </span>
  <span class="page_number">
    Page {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
    <span class="next">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">Next</a>
      {% else %}
        Next
      {% endif %}
    </span>
</div>
{% endif %}